.advantages__title {
  font-size: $font-size-h2;
  line-height: $line-height-title;
  margin-top: 70px;
  margin-bottom: 86px;
  padding-left: 30px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 40px;
}

.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 83px;
}

.advantages__item--present {
  margin-bottom: 56px;
}
