.advantages__inner.container {
  width: auto;
}

.advantages__title {
  font-size: $font-size-h2;
  line-height: $line-height-title;
  margin-top: 70px;
  margin-bottom: 86px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 40px;
}

.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 83px;
}

.advantages__item--present {
  margin-bottom: 56px;
}

@media (min-width: $tablet-width) {
  .advantages__inner.container {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .advantages__list {
    padding: 0;
    height: 369px;
    width: auto;
  }
}
