.advantages__title {
  font-size: $font-size-h2;
  line-height: $line-height-title;
  margin-top: 70px;
  margin-bottom: 86px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
  padding-top: 70px;
  margin-bottom: 20px;
  // outline: 1px solid;
  background-repeat: no-repeat;
}

.advantages__item--eco {
  background-image: url("../img/icon-feature-flower.svg");
}

.advantages__item--price {
  background-image: url("../img/icon-feature-money.svg");
}

.advantages__item--like {
  background-image: url("../img/icon-feature-heart.svg");
}

.advantages__item--hand {
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__item--support {
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--present {
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .advantages__list {
    padding: 0;
    height: 369px;
    width: auto;
  }
}
