.advantages {
  margin-bottom: 31px;
}

.advantages__title {
  font-size: $font-size-h2;
  line-height: $line-height-title;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
  padding-top: 64px;
  margin-bottom: 20px;
  // outline: 1px solid;
}

.advantages__item--eco::after {
  background-image: url("../img/icon-feature-flower.svg");
}

.advantages__eco {
  display: block;
  padding-right: 63px;
}

.advantages__item--price::after {
  background-image: url("../img/icon-feature-money.svg");
}

.advantages__price {
  display: block;
  padding-right: 38px;
}

.advantages__item--like::after {
  background-image: url("../img/icon-feature-heart.svg");
}

.advantages__like {
  display: block;
  padding-right: 58px;
}

.advantages__item--hand::after {
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__hand {
  display: block;
  padding-right: 38px;
}

.advantages__item--support::after {
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--present::after {
  background-image: url("../img/icon-feature-gift.svg");
}

.advantages__present {
  display: block;
  padding-right: 38px;
}

.advantages__item::after {
  position: absolute;
  display: block;
  content: "";
  width: 55px;
  height: 38px;
  top: 11px;
  left: -4px;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 36px;
  }

  .advantages__list {
    padding: 0;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 1.16;
    margin: 0;
    margin-bottom: 40px;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 47px;
  }

  .advantages__item--eco {
    width: 230px;
    margin-right: 100px;
    order: 1;
  }

  .advantages__eco {
    padding-right: 0;
  }

  .advantages__item--price {
    width: 235px;
    order: 3;
    margin-right: 100px;
  }

  .advantages__price {
    padding-right: 0;
  }

  .advantages__item--like {
    width: 235px;
    order: 5;
    margin-right: 100px;
  }

  .advantages__like {
    padding-right: 0;
  }

  .advantages__item--hand {
    width: 260px;
    order: 2;
  }

  .advantages__hand {
    padding-right: 0;
  }

  .advantages__item--support {
    width: 295px;
    order: 4;
  }

  .advantages__item--present {
    width: 260px;
    order: 6;
  }

  .advantages__present {
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__inner {
    padding-top: 0;
    padding-right: 100px;
    padding-bottom: 0;
    padding-left: 224px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 1.08;
  }

  .advantages {
    margin-bottom: 41px;
  }
}
