.content-list {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 120px;
}

.content-list__link {
  text-decoration: none;
  color: $bg-base;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  &--interior {
    background-color: $seafoam-blue;
    min-height: 103px;
    width: 100%;
    display: inline-block;
  }

  &--toy {
    background-color: $greeny-blue;
    min-height: 103px;
    width: 100%;
    display: inline-block;
  }
}
