.content-list {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 125px;
}

.content-list__link {
  text-decoration: none;
  color: $bg-base;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 29px;
  padding-top: 25px;

  &--interior {
    background-color: $seafoam-blue;
    min-height: 103px;
    width: 100%;
    display: inline-block;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 87% 50%;
  }

  &--toy {
    background-color: $greeny-blue;
    min-height: 103px;
    width: 100%;
    display: inline-block;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 87% 50%;
  }
}
