.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  margin-bottom: 34px;
}

.features__item-pic {
  display: block;
  margin: 0 auto;
}

.features__description {
  padding: 27px;
  border: 1px solid #ececec;
}

.features__heading {
  font-size: 17px;
  line-height: $line-height-base;
  color: $title-color;
  margin: 0;
  margin-bottom: 4px;
}

.features__desc {
  font-size: 13px;
  line-height: 2.31;
  color: $text-color;
  margin: 0;
  margin-bottom: 20px;
}

.features__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
}

.features__price {
  font-size: $font-size-base;
  line-height: 16px;
  color: $title-color;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding-top: 25px;
}

.icon__basket {
  position: absolute;
  right: 57px;
  bottom: -161px;
}

.features__btn {
  border: none;
  padding-right: 27px;
  background-color: none;
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    display: flex;
    margin-bottom: 53px;
  }

  .features__item-pic {
    width: 334px;
    height: 334px;
  }

  .features__description {
    width: 334px;
    height: 334px;
  }

  .features__heading {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .features__desc {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 175px;
  }

  .features__price {
    font-size: 17px;
    line-height: 1.41;
    padding-top: 21px;
  }

  .features__heading--toy {
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    flex-direction: row;
    justify-content: center;
  }

  .features__item {
    flex-direction: column;
    flex-basis: 316px;
    margin-right: 50px;
  }

  .features__item:last-child {
    margin-right: 0;
  }

  .features__desc:last-child {
    margin-bottom: 7px;
  }

  .features__item-pic {
    width: 316px;
    height: 462px;
  }

  .features__description {
    width: 316px;
    height: 197px;
  }

  .features__desc {
    margin-bottom: 39px;
  }
}
