.features__inner {
  margin: 0 auto;
}

.features__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__item {
  display: block;
  margin-bottom: 45px;
}

.features__item-pic {
  display: block;
  margin: 0 auto;
}

.features__description {
  display: flex;
  flex-direction: column;
}

.features__heading {
  font-size: 17px;
  line-height: $line-height-base;
  color: $title-color;
  margin: 0;
  margin-bottom: 4px;
  padding-top: 29px;
  padding-left: 28px;
}

.features__heading--toy {
  margin-bottom: 6px;
  padding-left: 28px;
}

.features__description--toy {
  width: 260px;
}

.features__desc {
  font-size: 13px;
  line-height: 2.31;
  color: $text-color;
  margin: 0;
  padding-left: 29px;
  margin-bottom: 31px;
}

.features__footer {
  display: flex;
  justify-content: space-between;
}

.features__price {
  font-size: $font-size-base;
  line-height: 16px;
  color: $title-color;
  font-weight: bold;
  padding-left: 28px;
}

.features__btn {
  border: none;
  padding-right: 27px;
}

@media (min-width: $tablet-width) {
  .features__inner.container {
    width: auto;
    padding: 0 50px;
  }

  .features__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .features__inner.container {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .features__list {
    flex-direction: row;
    justify-content: center;
  }

  .features__item {
    flex-direction: column;
    flex-basis: 316px;
  }
}
