.form-heading {
  padding-top: 71px;
  padding-bottom: 75px;
  background-color: $secondary-color;
  margin-bottom: 24px;
  position: relative;
}

.order__title {
  font-size: 13px;
  line-height: 1.85;
  color: $text-color;
  margin-bottom: 23px;
}

.order-type {
  padding-bottom: 25px;
}

.order-color {
  padding-bottom: 10px;
}

// start
.checkbox-custom-label,
.radio-custom-label {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: $title-color;
}

.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 18px;
  cursor: pointer;
  margin-left: 62px;
  padding-top: 7px;
}

.checkbox-custom,
.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 21px;
  cursor: pointer;
}

.radio-custom + .radio-custom-label::before {
  content: "";
  position: absolute;
  background: 0 0;
  border: solid 2px $text-color;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 2px;
  margin-right: 22px;
  text-align: center;
  left: -62px;
  top: -2px;
  border-radius: 50%;
}

.checkbox-custom + .checkbox-custom-label::before {
  content: "";
  position: relative;
  background: 0 0;
  border: solid 2px $text-color;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 2px;
  margin-right: 22px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label::before {
  background: url("../img/tick-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 22px 16px;
}

.radio-custom:checked + .radio-custom-label::before {
  background: #62d1ba;
  box-shadow: inset 0 0 0 12px $bg-base;
}

// .radio-custom::before:hover {
//   border: solid 2px #62d1ba;
// }

// .radio-custom:active {

// }

.form__title {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: $seafoam-blue;
  text-transform: uppercase;
  padding-bottom: 27px;
}

.form-item {
  padding-left: 62px;
  display: flex;
  min-height: 46px;
  padding-bottom: 11px;
}

.form-item__checkbox {
  min-height: 46px;
}

.form__title::after {
  align-self: center;
  content: "";
  width: 198px;
  height: 1px;
  background-color: #63d1bb;
}

.form__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: $title-color;
}

.form-fieldset {
  padding: 0 30px;
  margin: 0;
  border: none;
}

.form__necessarily {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  color: $text-color;
  padding: 0 30px;
  margin-bottom: 30px;
}

.send-order {
  width: 260px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.11;
  background-color: $bg-base;
  border: solid 2px;
  border-color: $text-color;
  color: $text-color;
  text-transform: uppercase;
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.form__label--radio {
  position: relative;
  cursor: pointer;
}

.form__label--radio::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  border: 2px solid #444444;
}

.form__label--radio::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 12px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: #63d1bb;
  border-radius: 50%;
}

.form-item__text {
  display: flex;
  flex-direction: column;
}

.form__input--text,
.form-item__number,
.form-item__email {
  padding: 14px 0 18px;
  border: 0;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 7px;
}

.form-item__number,
.form-item__email {
  padding: 0;
  margin: 0;
  position: relative;
}

.form__input-number {
  font-size: 19px;
  line-height: 0.95;
}

.form__input-number:hover {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
}

.form__input-number:active {
  opacity: 1;
  color: #444444;
}

.icon-form {
  opacity: 0.2;
  fill: #000000;
}

.icon-form:hover {
  opacity: 1;
  fill: #62d1ba;
}

.icon-form:active {
  opacity: 1;
  fill: #62d1ba;
}

.icon-form__phone {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 7px;
  right: 8px;
}

.icon-form__email {
  position: absolute;
  width: 32px;
  height: 21px;
  top: 13px;
  right: 5px;
}

.form-item__email {
  padding: 0;
  margin: 0;
}

.form__input-email {
  font-size: 17px;
  line-height: 1.06;
}

.form__title--text {
  padding-bottom: 16px;
}

.order-number {
  margin-top: 9px;
  margin-bottom: 35px;
}

.form__title--number {
  padding-bottom: 10px;
  position: relative;
}

.form__title--email {
  padding-bottom: 10px;
}

.order-email {
  margin-bottom: 36px;
}

.form__title--info {
  padding-bottom: 10px;
}

.form-item__info {
  display: block;
  width: 260px;
  min-height: 141px;
  padding-left: 11px;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 18px;
  padding-top: 10px;
}

.form-item__info:hover {
  border-color: #62d1ba;
}

.form-item__info:active {
  border-color: #62d1ba;
}

.form__input-info {
  border: none;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .radio-custom,
  .radio-custom-label {
    margin-bottom: 34px;
    padding-top: 15px;
    padding-left: 19px;
  }

  .checkbox-custom-label,
  .radio-custom-label {
    font-size: 19px;
    line-height: 0.95;
  }

  .radio-custom + .radio-custom-label::before {
    width: 52px;
    height: 53px;
  }

  .checkbox-custom + .checkbox-custom-label::before {
    width: 54px;
    height: 52px;
  }

  .checkbox-custom:checked + .checkbox-custom-label::before {
    background-size: 33px 22px;
  }

  .checkbox-custom-label {
    width: 237px;
    margin-bottom: 24px;
  }

  .form-fieldset {
    padding: 0 50px;
    padding-top: 35px;
    padding-bottom: 26px;
  }

  .form-heading {
    padding-top: 53px;
    padding-bottom: 93px;
    margin-bottom: 62px;
  }

  .order__title {
    font-size: 17px;
    line-height: 1.76;
  }

  .form__title {
    font-size: 17px;
    line-height: 0.94;
    padding-top: 18px;
    padding-left: 2px;
    padding-right: 128px;
  }

  .form__title--color {
    padding-right: 122px;
  }

  .form__title::after {
    display: none;
  }

  .form-order {
    display: flex;
    flex-direction: column;
  }

  .order-type {
    display: flex;
    padding-bottom: 0;
  }

  .form__label {
    font-size: 19px;
    line-height: 0.95;
  }

  // .form__list {
  //   display: flex;
  //   flex-direction: column;
  //   width: 500px;
  // }

  .form-item {
    padding-left: 0;
  }

  .form-fieldset__color {
    background-color: #f1f1f1;
    padding-bottom: 16px;
  }

  .order-color {
    display: flex;
    // justify-content: space-between;
    padding-top: 13px;
  }

  .form__list--color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
  }

  .form-item__checkbox {
    width: 238px;
    padding: 0;
    margin: 0;
    min-height: 52px;
    padding-bottom: 24px;
  }

  .order-name {
    display: flex;
  }

  .form__list--name {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .form-item__text {
    display: block;
    margin: 0;
    margin-bottom: 7px;
  }

  .form__label--text {
    margin-right: 36px;
  }

  .form__input--text {
    width: 359px;
  }

  .form__input--text,
  .form-item__number,
  .form-item__email {
    opacity: 0.3;
    font-size: 19px;
    line-height: 0.95;
  }

  .form__input--wide {
    width: 411px;
  }

  .form__title--text,
  .form__title--email {
    padding-right: 123px;
  }

  .form-fieldset__name {
    padding-top: 48px;
    padding-bottom: 34px;
  }

  .form-fieldset__number {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .order-number {
    display: flex;
    margin: 0;
  }

  .form__title--number {
    padding-right: 148px;
  }

  .form__input-number,
  .form__input-email {
    background-color: #f1f1f1;
    border: none;
    width: 467px;
  }

  .order-email {
    display: flex;
  }

  .form-fieldset__email {
    background-color: #f1f1f1;
    padding-top: 29px;
    padding-bottom: 19px;
  }

  .form-fieldset__info {
    padding-top: 50px;
  }

  .order-info {
    display: flex;
  }

  .form-item__info {
    width: 500px;
    margin: 0;
  }

  .form__input-info {
    width: 490px;
    opacity: 0.3;
    font-size: 19px;
    line-height: 0.95;
    padding-left: 10px;
  }

  .necessarily {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 29px;
  }

  .form__necessarily {
    font-size: 17px;
    line-height: 1.76;
    margin: 0;
    padding: 0;
  }

  .send-order {
    width: 230px;
    margin-bottom: 46px;
  }
}

.form__input:hover {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
}

.form__input:active {
  opacity: 1;
}

@media (min-width: $desktop-width) {
  .form-heading {
    padding-bottom: 119px;
    margin-bottom: 105px;
  }

  .order__title {
    width: 700px;
    padding-left: 0;
    padding-right: 0;
  }

  .form-fieldset {
    padding-left: 110px;
    padding-right: 50px;
  }

  .form__title {
    padding-right: 75px;
  }

  .form__title--color {
    padding-right: 71px;
  }

  .form__list--color {
    width: 875px;
  }

  .checkbox-custom-label {
    width: 262px;
  }

  .form__list--name {
    width: 750px;
  }

  .form__input--text {
    width: 557px;
  }

  .form__input--wide {
    width: 606px;
  }

  .form__input-email,
  .form__input-number {
    width: 684px;
    opacity: 0.3;
    font-size: 19px;
    line-height: 0.95;
  }

  .form-item__info {
    width: 700px;
  }

  .necessarily {
    padding-top: 23px;
    padding-left: 224px;
    padding-right: 224px;
  }

  .send-order {
    margin-bottom: 50px;
  }

  .form__title--number {
    padding-right: 95px;
  }

  .form__title--email {
    padding-right: 72px;
  }
}
