.form-heading {
  padding-top: 71px;
  padding-bottom: 75px;
  background-color: $secondary-color;
  margin-bottom: 24px;
}

.order__title {
  font-size: 13px;
  line-height: 1.85;
  color: $text-color;
  margin-bottom: 23px;
}

.form-list {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: $seafoam-blue;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.form-item {
  padding-left: 62px;
  display: flex;
  min-height: 46px;
  padding-bottom: 11px;
}

.form-item__checkbox {
  min-height: 46px;
}

.form-list::after {
  align-self: center;
  content: "";
  width: 198px;
  height: 1px;
  background-color: #63d1bb;
}

.form__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: $title-color;
}

.form-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__necessarily {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  color: $text-color;
  padding: 0;
  margin-bottom: 30px;
}

.send-order {
  width: 260px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.11;
  background-color: $bg-base;
  border: solid 1px;
  border-color: $text-color;
  color: $text-color;
  text-transform: uppercase;
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.form-item__text {
  display: flex;
  flex-direction: column;
}

.form__input--text {
  padding: 14px 0 18px;
  border: 0;
  border-bottom: 2px solid #000;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 7px;
}

.form-item__number {
  padding: 0;
  margin: 0;
}

.form__input-number {
  font-size: 19px;
  line-height: 0.95;
}

.form-item__email {
  padding: 0;
  margin: 0;
}

.form__input-email {
  font-size: 19px;
  line-height: 0.95;
}

.form-list--text {
  padding-bottom: 16px;
}

.order-number {
  margin-top: 9px;
  margin-bottom: 35px;
}

.form-list__number {
  padding-bottom: 10px;
}

.form__input-email {
  font-size: 17px;
  line-height: 1.06;
}

.form-list__email {
  padding-bottom: 10px;
}

.order-email {
  margin-bottom: 36px;
}

.form-list__info {
  padding-bottom: 10px;
}

.form-item__info {
  display: block;
  width: 260px;
  min-height: 141px;
  padding-left: 11px;
  border: 2px solid #444;
  font-size: 17px;
  line-height: 18px;
  padding-top: 10px;
}
