.page-header__inner.container {
  padding: 0;
}

.main-nav {
  position: relative;
}

.main-nav__toggle {
  cursor: pointer;
  position: absolute;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 21px;
  height: 20px;
  border: none;
  top: 29px;
  right: 60px;
}

.main-nav__item {
  border-bottom: 1px solid $secondary-color;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 75px;
}

.main-nav__link {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $title-color;
  text-decoration: none;
}

.linl-icon {
  position: relative;
  width: 18px;
  height: 18px;
  color: #d3d2d2;
  fill: #d3d2d2;
}

.link-icon__search {
  position: absolute;
  left: 40px;
}

.link-icon__basket {
  position: absolute;
  left: 40px;
}

.main-nav__list--extra {
  display: none;
}

.main-nav__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__inner.container {
    padding: 0 50px;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__text {
    display: flex;
    font-size: 15px;
    line-height: 1.6;
    color: $link-color;
    order: 2;
    margin: 0;
    margin-left: auto;
    padding: 17px 37px 25px 0;
  }

  .main-nav__list--extra {
    display: none;
  }

  .main-nav__item {
    border-bottom: none;
    padding: 17px 37px 25px 0;
  }

  .main-nav__link {
    font-size: $font-size-base;
    line-height: 1.6;
    font-weight: bold;
    color: $title-color;
  }

  .main-nav__list--top {
    margin: 0;
    margin-left: auto;
  }

  .main-nav__list--bottom {
    flex-basis: 350px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list--bottom {
    order: 0;
  }

  .logo {
    order: 1;
  }

  .main-nav__list--top {
    order: 2;
  }

  .main-nav__list--extra {
    display: flex;
    order: 3;
  }

  .main-nav__text {
    order: 4;
  }
}
