.map-inner.container {
  padding: 0;
}

.map-inner__img {
  background-image: url("../img/map-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 322px;
  height: 457px;
  background-size: 322px 457px;
  margin-bottom: 39px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px 457px;
  }
}

.writeus-inner {
  padding: 0 30px;
}

.writeus-inner__btn {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.11;
  background-color: $bg-base;
  border: solid 2px;
  border-color: $text-color;
  color: $text-color;
  text-transform: uppercase;
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  box-sizing: border-box;
  width: 230px;
  // margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .writeus-inner__btn {
    margin-bottom: 50px;
  }

  .map-inner__img {
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px 457px;
    width: 768px;
    height: 457px;
    margin-bottom: 0;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map-inner__img {
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px 457px;
    width: 525px;
    height: 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
