.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    align-items: center;
    padding: 52px 10px 52px 20px;
    justify-content: space-around;
  }

  .page-footer__logo {
    flex-basis: 205px;
    display: flex;
  }

  .logo-footer {
    width: 102px;
    height: 34px;
  }

  .copyright {
    margin: 0;
    padding: 0;
  }

  .page-footer__copyright.copyright.container {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    display: flex;
    flex-basis: 217px;
  }

  .page-footer__inner {
    padding-top: 50px;
    padding-right: 54px;
    padding-bottom: 52px;
    padding-left: 52px;
    justify-content: space-between;
  }
}
