.page-content__inner {
  padding-top: 71px;
  padding-bottom: 74px;
  background-color: $secondary-color;
  width: 100%;
  margin-bottom: 30px;
}

.page-content__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-content {
    margin-top: 120px;
  }
}
