.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__header {
  position: relative;
  border: 1px solid black;
}

.page-header__logo {
  height: 79px;
  display: block;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  padding-top: 22px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }

  .page-header__header {
    height: 88px;
    position: absolute;
  }

  .page-header__logo {
    height: 88px;
    width: 320px;
    order: 1;
  }

  .page-header__logo-image {
    margin: 0;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 88px;
  }

  .page-header__logo-image {
    padding-top: 22px;
  }
}
