.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-header__inner.container {
  padding: 0;
  margin: 0;
  width: auto;
}

.logo {
  margin: 0 auto;
}

.logo__image {
  padding: 22px 0;
}

@media (min-width: $tablet-width) {
  .page-header__inner.container {
    padding: 0 50px;
    width: 768px;
    margin: 0 auto;
  }

  .logo {
    // flex-basis: 317px;
    flex-basis: 310px;
    margin: 0;
    padding-top: 22px;
  }

  .logo__image {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__inner.container {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .logo {
    flex-basis: 149px;
    margin: 0 auto;
  }

  .logo__image {
    margin: 0 auto;
    display: block;
  }

  .container {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}
