.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 143px;
    padding: 44px 50px;
  }

  .page-footer__logo {
    flex-basis: 149px;
  }

  .copyright {
    margin: 0;
    padding: 0;
  }

  .page-footer__copyright.copyright.container {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner.container {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: flex;
    flex-basis: 149px;
  }
}
