.promo__inner.container {
  padding: 0;
  margin: 0;
  width: auto;
}

.promo__inner {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 49.7% 0%;
  background-size: 616px 373px;
}

.promo-caption {
  font-size: 26.5px;
  margin: 0;
  line-height: 1.11;
  color: $very-dark-brown;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 72px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__inner.container {
    padding: 0 50px;
    width: auto;
  }

  .promo {
    margin-bottom: 55px;
  }

  .promo__inner {
    width: 100%;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 1%;
    background-size: 1150px 746px;
  }

  .promo-caption {
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
  }
}

@media (min-width: $desktop-width) {
  .promo__inner.container {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
  // .promo__inner {
  //   width: 1050px;
  //   height: 680px;
  //   margin: 0 auto;
  //   margin-bottom: 55px;
  // }

  .promo-caption {
    font-size: 53px;
    line-height: 57px;
  }
}
