.promo__inner {
  background-image: url("/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 49.7% 0%;
  background-size: 616px 373px;
}

.promo-caption {
  font-size: 30px;
  line-height: 1.11;
  color: $very-dark-brown;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 76px;
  text-align: center;
}
