.promo__inner.container {
  padding: 0;
}

.promo {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 49.7% 0%;
  background-size: auto 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.promo-caption {
  font-size: 26.5px;
  margin: 0;
  line-height: 1.11;
  color: $very-dark-brown;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 72px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__inner.container {
    padding: 0 50px;
  }

  .promo {
    margin-bottom: 55px;
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .promo-caption {
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
  }
}

@media (min-width: $desktop-width) {
  .promo-caption {
    font-size: 53px;
    line-height: 57px;
  }

  .promo {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 100% auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
