.reviews__title {
  margin: 0;
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 25px;
}

.rewiews__text {
  font-size: $font-size-base;
  line-height: 2;
}
