html {
  box-sizing: border-box;
}

*,
::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid;
}

body {
  min-width: 320px;
  font-size: $font-size-base;
  color: $title-color;
  line-height: 24px;
  font-weight: 400;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}
